#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header {
  padding: 1rem;
  display: grid;
  grid-template-areas: '. heading btn';

  h1 {
    grid-area: heading;
  }

  .round-add-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    font-size: 2rem;
    align-self: center;
    justify-self: end;
    grid-area: btn;
    background-color: #237D57;
    color: white;
  }
}

main {
  position: relative;
}


.bookList-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}